@{
    ViewData["Title"] = "Schedu";
}


<div class="text-center">
    <h1 class="display-4">Welcome to Schedu 📆 </h1>
    <p>
        Built using ASP.NET Core and C#. Propose to change the way small businesses
        interact and organize the agenda. To help a costumer scheduling a service
        and to help a business with their agenda / reporting system.
    </p>
    <table class="table-align-index">
        <tbody>
            <tr>
                <td>
                    <a asp-controller="Business" asp-action="Index" class="btn btn-sm btn-secondary">
                        Manage Businesses
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a asp-controller="BusinessOwner" asp-action="Index" class="btn btn-sm btn-secondary">
                        Manage Business Owners
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>